{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}
<div class="container">
    
    {{ form_errors(registrationForm) }}
    
    {{ form_start(registrationForm) }}
        <h2><strong>Enregistrez Vous</strong></h2>
        <div class="row">
            <div class="col-sm">
                <strong>{{ form_row(registrationForm.email) }}</strong>
            </div>
            <div class="col-sm">
                <strong>{{ form_row(registrationForm.username) }}</strong>
            </div>
            
            
        </div>
        <strong>{{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}</strong>


        <strong>{{ form_row(registrationForm.agreeTerms) }}</strong>
        <a class = "condition" href="#"><strong>Voir les conditions génnérales</strong></a>
        
        {{ form_end(registrationForm) }}
        <p class="connection">Déja Inscrit <a class = "connection" href={{ path("app_login") }}><strong>Connectez vous</strong> </a></p>
</div>
{% endblock %}
