{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}
<div class="container">
    
    {{ form_errors(registrationForm) }}
    
    {{ form_start(registrationForm) }}
        <h2><span class="quiz-night">Enregistrez Vous</span></h2>
        <div class="row">
            <div class="col-sm">
                <span class="quiz-night">{{ form_row(registrationForm.email) }}</span>
            </div>
            <div class="col-sm">
                <span class="quiz-night">{{ form_row(registrationForm.username) }}</span>
            </div>
            
            
        </div>
        <span class="quiz-night">{{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}</span>


        <span class="quiz-night">{{ form_row(registrationForm.agreeTerms) }}</span>
        <a class = "condition" href="#"><span class="quiz-night">Voir les conditions génnérales</span></a>
        
        {{ form_end(registrationForm) }}
        <p class="connection">Déja Inscrit <a class = "connection" href={{ path("app_login") }}><span class="quiz-night">Connectez vous</span> </a></p>
</div>
{% endblock %}
