{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}
<div class="container">
    <h1>Register</h1>

    {{ form_errors(registrationForm) }}

    {{ form_start(registrationForm) }}
    <div class="row">
        <div class="col-sm">
            {{ form_row(registrationForm.email) }}
        </div>
        <div class="col-sm">
            {{ form_row(registrationForm.username) }}
        </div>
        
        
    </div>
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}

        <div class="swiper">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
                {% for image in ['chat_profil.png', 'lion_profil.png', 'chat_astronaute_profil.png','dragon_profil.png', 'ecureil_profil.png', 'hiboux.png', 'panda_profil.png','tigre_profil.png'] %}
                    <div class="swiper-slide">
                        <input type="radio" name="formEditUser[selectedProfileImage]" value="{{ image }}" {% if registrationForm.vars.value.profileImage == image %}checked{% endif %}>
                        <img class="slide" src="{{ asset('avatar/' ~ image) }}" alt="profil">
                    </div>
                {% endfor %}
            </div>
          
        </div>

        {{ form_row(registrationForm.agreeTerms) }}

        <label>
            <input type="checkbox" name="_remember_me" checked>
            Keep me logged in
        </label>
        
    {{ form_end(registrationForm) }}
</div>
{% endblock %}
