{% extends 'base.html.twig' %}

{% block title %}Ajouter une Session{% endblock %}

{% block body %}

<div class="container">
  
    <h1>Ajouter un nouveau Quiz</h1> 
   
    
{{ form_start(formNewQuestion) }}
    {{ form_row(formNewQuestion.quiz.title) }}
    {{ form_row(formNewQuestion.quiz.level) }}
    <div class="formNewQuestion-group row ">

        <div class="col-formNewQuestion-label col-sm-2">&nbsp;</div>

        <div id="questions-fields-list" class="col-sm-10 remove-collection-widget"
        data-prototype="{{ form_widget(formNewQuestion.quiz.questions.vars.prototype)|e }}"
        data-quiz="{{quizId}}"
        data-widget-tags="{{ '<p></p>'|e }}"
        data-widget-counter="{{ formNewQuestion.quiz.questions|length }}">
           
       
            {% for questionField in formNewQuestion.quiz.questions %}
                <p>
                    {{ form_errors(questionField) }}
                    {{ form_widget(questionField, {'attr': {'class': 'borders'}}) }}
                </p>
                
            {% endfor %}
            

    <div class="formNewQuestion-group row flex-action">
        <button type="button" 
            class="add-another-collection-widget button"
            data-list-selector="#questions-fields-list">
            Ajouter une Question
        </button>
    </div>
{{ form_end(formNewQuestion) }}
</div>
{% endblock %}