{% extends 'base.html.twig' %}

{% block title %}Liste des Quizs!{% endblock %}

{% block body %}
<div class="box_theme">
    {{ include ('admin/panel_admin_nav.html.twig') }}
    <table class="admin-theme">
        <thead class="thead-admin">
            <tr>
                <th>ID</th>
                <th>Titre</th>
                <th>Dificulter</th>
                <th>Nombre question</th>
                <th>Créateur</th>
                <th>Statut</th>
                <th>Catégorie</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
           
            {% for quiz in quizzes %}
                <tr>
                    <td>{{ quiz.id }}</td>
                    <td>{{ quiz }}</td>
                    <td>{{ quiz.level }}</td>
                    <td>{{ quiz.questions|length }}</td>
                    {% if quiz.userId %}
                        <td>{{ quiz.userId.username }}</td>
                    {% else %}
                        <td>Utilisateur Suprimé</td>
                    {% endif %}
                    <td>
                        {% if quiz.isVerified %}
                            <i class="fa-solid fa-check fa-2xl" style="color: #0dd10a;"></i>
                        {% else %}
                            <i class="fa-solid fa-xmark fa-2xl" style="color: #d40c0c;"></i>
                        {% endif %}
                    </td>
                    <td>{{ quiz.category }}</td>
                    <td>
                        <ul class="ul_action">
                            <li class="li_action">
                                <a class="btn btn-warning" href="{{path('edit_quiz', {'id': quiz.id})}}">Modifier un Quiz</a>
                            </li>
                            <li class="li_action">
                                <a class="btn btn-danger" href="{{path('delete_quiz', {'id': quiz.id})}}">Supprimer un Quiz</a> 
                            </li>
                            <li class="li_action">
                                {% if quiz.isVerified %}
                                    <a class="btn btn-danger" href="{{path('unVerified_quiz', {'id': quiz.id})}}">Invalider se quiz</a> 
                                {% else %}
                                    <a class="btn btn-success" href="{{path('verified_quiz', {'id': quiz.id})}}">Valider se quiz</a> 
                                {% endif %}
                                
                            </li>
                        </ul>
                    </td>
                    
                    
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
