

    <nav class="admin">
        <ul class="admin_theme">
            <h4>Theme</h4>
            <li>
                <a href="{{path('list_theme')}}">Liste Theme</a>
            </li>
            <li>
                <a href="{{path('new_theme')}}">Ajouter un Theme</a>
            </li>
        </ul>  

        <ul class="admin_category"> 
            <h4>Category</h4> 

            <li>
                <a href="{{path('list_categories')}}">Liste Category</a>
            </li>

        </ul>

        <ul class="admin_quiz">
            <h4>Quiz</h4>
            <li>
                <a href="{{path('list_quizzes')}}">Liste des Quiz</a>
            </li>
        </ul>
        {% if is_granted('ROLE_ADMIN') %} 
            <ul class="admin_list_user">
                <h4>User</h4>
                <li>
                    {# lien vers la liste des utilisateur #}
                    <a href="{{path('app_userManagement')}}">Liste User</a>
                </li>
            </ul>
        {% endif %}
    </nav>

