{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}
{% set nb = 1 %}
{% block body %}

{% for category in categories %}
        
        {% set categoryExist = category %}
        <h2>Pour la categories {{category}} il y a  {{ category.quizzes|length }} quiz</h2>
        <button id="button{{nb}}">Afficher</button>
    <ul hidden class="category{{nb}}">
        {% for quiz in quizes %}
            {# {% set categoryquiz = quiz.category %} #}

            {% if categoryExist == category  %}
                {% if category.id == quiz.category.id  %}

                    <li>
                        <h4>{{ quiz.title }}</h4>
                        <a class="modify" href="{{path('edit_quiz', {'id': quiz.id})}}">Modifier</a>  
                    </li>
                    <li>
                        Nb question:{{ quiz.questions|length}}
                    </li>
                    <li>
                        Statut: 
                        {% if quiz.isVerified %}
                            <span class="success">Vérifier</span>
                        {% else %}
                            <span class="error">A vérifier</span>
                        {% endif %}
                    </li>
                    <li>
                        <a class="detail" href="{{path('show_quiz', {'id': quiz.id})}}">Détail</a>
                    </li>
                    <li>
                        {% if quiz.questions|length > 0 %}   
                                <a href="{{path('app_play', {'id': quiz.id})}}">Test Quiz</a>
                        {% endif %}
                        <a class="add" href="{{path('new_question', {'idQuiz': quiz.id})}}">Ajouter Question</a>
                    </li>
                    <br> 
                {% endif %}   
            {% endif %}
        {% endfor %}
    </ul>
    {% set nb = nb +1 %}
{% endfor %}

{% block javascripts %}
<script src="{{ asset('js/show_quiz.js') }}"></script>   
{% endblock %}
   
{% endblock %}
