{% extends 'base.html.twig' %}

{% block title %}Modification d'un quiz et de ses questions{% endblock %}

{% block body %}


   
    <h1>Modifier le Quiz: {{ quiz.title }}</h1>    
<div id="questions-summary">
    <h5>Sommaire des questions</h5>
    <ul id="questions-list"></ul>
</div>
<section id="add-quiz">   
    {{ form_start(formEditQuiz) }}
        {{ form_row(formEditQuiz.title) }}
        {{ form_row(formEditQuiz.level) }}
        <div class="formEditQuestion-group row ">

            <div class="col-formEditQuestion-label col-sm-2">&nbsp;</div>

            <div id="questions-fields-list" class="col-sm-10 remove-collection-widget"
            data-prototype="{{ form_widget(formEditQuiz.questions.vars.prototype)|e }}"
            data-quiz="{{quizId}}"
            data-widget-tags="{{ '<p></p>'|e }}"
            data-widget-counter="{{ formEditQuiz.questions|length }}">
                
                {% for questionField in formEditQuiz.questions %}
                    <p>
                        {{ form_widget(questionField, {'attr': {'class': 'borders'}}) }}
                    </p>
                    
                
                    {% for answerField in questionField.answers %}
                    <p>
                    
                    </p>
                    {% endfor %}
                    

                {% endfor %}

            
            </div>

        <div class="formEditQuestion-group row flex-action">
            <button type="button" 
                class="add-another-collection-widget button"
                data-list-selector="#questions-fields-list">
                Ajouter une Question
            </button>
        </div>
    {{ form_end(formEditQuiz) }}
    </section>


{% endblock %}