{% extends 'base.html.twig' %}

{% block title %}Hello QuizController!{% endblock %}

{% block body %}
{% set idSection = 1 %} {# déclaration d'une variable nb pour le nom des class des level #}
{% set message = '' %} {# Initialisation de la variable message à l'extérieur de la boucle #}
{% set playLink = '' %} {# Initialisation de la variable message à l'extérieur de la boucle #}
{%  set nbSlide = 1 %}
{%  set nbButton =  1 %}  

    <div id="hero">
        <article class="hero-text">
            <h1>Dev Quiz</h1>
                <p>
                    Bienvenue sur Dev Quiz, le site de Quiz sur le thème du Dévellopement Web.
                    Pour tous niveaux du débutant au dévellopeur comfirmer, venez tester vos connaisance,
                    ou réviser vos base.
                    Tous en vous amusant!!!
                    
                </p>
        </article>
    </div>
    
    {# <section class="home_quiz_box"> #}
        {% for theme in allTheme %} {# boucle pour afficher tous les theme disponible #}

            <h2>{{ theme.label }}</h2>

            <section class="section-slide">
                <div class="content">
                   
                    {% for category in allCategories %}
                    <h2 class="title-category">{{ category.label }}</h2>
                    <div class="info">
                            {# </div>   #}
                                <div class="show_info">
                                </div>
                            <div class="swiper">
        
                            
                                <div class="swiper-wrapper">
                                    {% for quiz in category.quizzes %}
        
                                        <div class="swiper-slide" style="background: linear-gradient(to top, #0f2027, #203a43, #2c5364);  background-repeat: no-repeat; background-position: 50% 50%; background-size: cover;">
                                            {% if app.user %}  {# si le user est connecter#}
                                                {% if quiz in app.user.favoritesQuizzes %}
                                                    <h2>{{ quiz.title }}  <a href="{{ path('app_remove_favorite', {'id': quiz.id}) }}"><i class="fa-solid fa-star fa-xl" style="color: #dbc906;"></i></a></h2>
                                                {% else %}
                                                    <h2>{{ quiz.title }} <a href="{{ path('app_add_favorite', {'id': quiz.id}) }}"><i class="fa-regular fa-star fa-xl" style="color: #dbc906;"></i></a></h2> 
                                                {% endif %}
        
                                                {% set lastGameDate = null %}
                                                {% set score = null %}
        
                                                <div class="info-play">
                                                    {% for game in quiz.games %} {# boucle sur les parties jouer #}
                                                        
                                                        {% if game.userId.id == app.user.id %} {#condition si le joueur connecter a bien une partit enregistrer#}
        
                                                            {% if loop.first %}
        
                                                                {% set lastGameDate = game.dateGame %} {# on stock la date de la partie dans une variable#}
                                                                {% if app.user.games %}
                                                                    {% set score = gameScore.score %} {# on stoke le score dans la variable score #}
                                                                {% else %}
                                                                    {% set score = "Vous n'avez pas encore enregistré de score sur se quiz" %} {# on stoke le score dans la variable score #}
                                                                {% endif %}
                                                            {% elseif game.dateGame > lastGameDate %} {# si la date de la partie est supérieur a la dernière partie jouer#}
        
                                                                {% set lastGameDate = game.dateGame %}{# on enregistre la nouvelle date #}
                                                                {% if app.user.games %}
                                                                    {% set score = gameScore.score %} {# on stoke le score dans la variable score #}
                                                                {% else %}
                                                                    {% set score = "Vous n'avez pas encore enregistré de score sur se quiz" %} {# on stoke le score dans la variable score #}
                                                                {% endif %}
                                                            {% endif %}
        
                                                        {% endif %}{# fin {% if game.userId.id == app.user.id %}  #}
                                                
                                                    {% endfor %} {# {% for game in quiz.games %} #}
        
                                                    {% if lastGameDate is not null %} {# si la variable a bien été set et donc qu'une partit existe #}
                                                
                                                        {% if score >= 80 %} {# condition si score est supérieur a 80% stock se message #}
                                                            {% set message = "Vous avez validé le quiz <span class='quiz-night'>" ~ quiz.title ~ "</span> en obtenant " ~ score ~ "%" ~ " de bonne réponse . Vous pourrez quand même le rejouer et tenter de faire mieux si possible." %}
                                                        {% else %} {# sinon on stock se message #}
                                                            {% set message = "Vous n'avez pas validé le quiz <span class='quiz-night'>" ~ quiz.title ~ "</span> en obtenant " ~ score ~ "% de bonne réponse." %}
                                                        {% endif %} {# fin {% if score >= 80 %} #}
        
                                                        {% set diffDays = date('now').diff(lastGameDate) %} {# on fait la différence de la date de la partie + 7 j par rapport a la date du jours #}
                                                            
                                                        {% if diffDays.days > 7 %} {# si le résultat est inférieur ou égal a 0  il peux rejouer le quiz et affiche le bon message #}
                                                            <p>{{ message|raw }}</p>
                                                            {# lien pour jouer le quiz#}
                                                            <a class="play" href="{{ path('app_play', {'id': quiz.id}) }}">Jouer</a>
        
                                                        {% else %} {# sinon il doit attendre le nombre de jour restant#}
                                                            <p>{{ message|raw }}</p>
                                                            {% set nbDay = lastGameDate|date_modify("+7 day").diff(date('now')) %}
                                                            {# message avec nombre de jour restant avant de pouvoir rejouer#}
                                                            <p>Vous pourrez rejouer ce quiz dans {{ nbDay.days }} jour(s)'</p>
        
                                                        {% endif %} {# fin {% if diffDays.days > 7 %}#}
        
                                                    {% else %} {# si aucune partie enregistrer pour se quiz il peux le jouer #}
                                                        {# lien vers la page pour jouer le quiz#}
                                                        <a class="play" href="{{ path('app_play', {'id': quiz.id}) }}">Jouer</a>
        
                                                    {% endif %} {# fin {% if lastGameDate is not null %} #}
        
                                                </div>         
        
                                            {% endif %} {# fin {% if app.user %}  #}
                                        </div>
        
                                    {% endfor %}
                                </div>
                            </div>
                        </div>    
                    {% endfor %}
                </div>
               
            </section>
        <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
                        <script src="{{ asset('js/swipper.js') }}"></script>
        {% endfor %}{# {% for theme in allTheme %} #}
    {#</section>  home quiz box#}
    <script src="{{ asset('js/slide_home.js') }}"></script>
    
{% endblock %}
   
    