{% extends 'base.html.twig' %}

{% block title %}Hello QuizController!{% endblock %}

{% block body %}

{% set message = '' %} {# Initialisation de la variable message à l'extérieur de la boucle #}

    <section id="hero">
        <article class="hero-text">
            <h2 class="title_home">APPRENEZ EN VOUS AMUSANT</h2>
                <p>
                    Bienvenue sur <strong></strong>Dev Quiz,<br>
                    le site de <strong>quiz</strong> sur le thème du <strong>développement web.</strong><br> 
                    Pour tous niveaux, du débutant au développeur confirmé, venez tester vos <strong>connaissances</strong> ou <strong>réviser</strong> vos bases. <br>
                    Le tout en vous amusant !  
                </p>
        </article>
    </section>

    <section class="paralax">
        
    </section>

            <nav id="nav_category" class="nav_category">
                    {% for category_nav in allCategories %}  
                    {# boucle pour obtenir tous les category #}
                        {% set hasVerifiedQuiz = false %} {# Initialise une variable pour vérifier si la catégorie a des quiz vérifiés #}

                        {% for quiz in category_nav.quizzes %}

                            {% if quiz.isVerified %}

                                {% set hasVerifiedQuiz = true %}
    
                            {% endif %}
                            
                        {% endfor %}

                    {% if hasVerifiedQuiz %}

                        <figure class="fig_category_nav"> {# création d'une seconde nav qui servira de lien vers les slide de chaque catégory#}
                            <a class="link_nav_category" href="#{{category_nav.id}}"><img class="img_category_nav" src="{{ asset('uploads/img/category/' ~ category_nav.picture) }}" alt="{{category_nav.label}}">
                            <figcaption class="fig_caption_category">{{ category_nav.label}}</figcaption></a>
                        </figure>

                    {% endif %}

                {% endfor %} {# {% for category_nav in theme.categories %} #}

            </nav>

            <article class="article_home">
                <h2 class="h2_home">Amusez-vous, c'est 100% gratuit !</h2>
                <p class="p_home">Chaque <strong>Quiz</strong> est une série de 10 question a choix multiple, </p>
                <p class="p_home">1 seul bonne réponse possible.</p>
                <p class="p_home">Finir un <strong>Quiz</strong> vous raportera des points, </p>
                <p class="p_home">et vous indiquera votre % de bonne réponse</p>
            </article>
            <section class="section-slide"> {# slide faite avec swiper.js#}
                <div class="content">
                  
                    {% for category in allCategories %}{# boucle sur les categorie#}

                    {% set hasVerifiedQuiz = false %} {# Initialise une variable pour vérifier si la catégorie a des quiz vérifiés #}

                        {% for quiz in category.quizzes %}
                            {% if quiz.isVerified %}
                                {% set hasVerifiedQuiz = true %}
                                
                            {% endif %}
                        {% endfor %}

                        {% if hasVerifiedQuiz %}

                            <div class="box_quiz">   
                                <h2 id="{{category.id}}" class="title-category">{{ category.label }}</h2> {# affiche les label de chaque catégorie + rajoute un dans l'id du he l'id de la catégorie pour créer une ancre#}

                                <div class="info">
                                    <div class="show_info">
                                            
                                        
                                    </div>

                                    <div class="swiper">
                
                                        <div class="swiper-wrapper">

                                            {% for quiz in category.quizzes %}
                                                {% if quiz.isVerified %}
                                                    
                                                    <div class="swiper-slide">
                            
                                                        {% if app.user %}  {# si le user est connecter#}

                                                            <figure class="fig_card_category">

                                                                
                                                                <img class="img_card_category" src="{{ asset('uploads/img/category/' ~ category.picture) }}" alt="{{category.label}}">
                                                                
                                                                <figcaption class="fig_caption_category_card">{{ category.label|upper}}</figcaption>

                                                            </figure>

                                                    
                                                            {% if quiz in app.user.favoritesQuizzes %}{# si le user a le quiz en favoris affiche une icone étoile pleine #}
                                                                
                                                                <h2 class="title-quiz" >{{ quiz.title|upper }}  <a href="{{ path('app_remove_favorite', {'id': quiz.id}) }}">{# enleve le quiz des favoris #}<i class="fa-solid fa-star fa-xl" style="color: #dbc906;"></i></a></h2>

                                                            {% else %} {# si il n'a pas le quiz en favoris affiche une icone etoile vide#}
                                                                
                                                                <h2 class="title-quiz" >{{ quiz.title|upper }} <a href="{{ path('app_add_favorite', {'id': quiz.id}) }}">{# ajoute le quiz en favoris favoris #}<i class="fa-regular fa-star fa-xl" style="color: #dbc906;"></i></a></h2> 

                                                            {% endif %}
                    
                                                            {% set lastGameDate = null %}
                                                            {% set score = "Vous n'avez pas encore enregistré de score sur ce quiz" %}
                    
                                                            <div class="info-play">

                                                                {% for game in quiz.games %} {# boucle sur toute les partie jouer d'un quiz#}

                                                                    {% if game.userId.id == app.user.id %} {# condition qui verifie si le user connecter a une partie enregistré dans se quiz#}
                                                                        
                                                                        {% if loop.first %} {# si c'est la premiére itération #}

                                                                            {% set score = game.score %} {# on set dans la varible score #} 

                                                                        {% elseif game.score > score %} 
                                                                        {# si ce n'est pas la première itération on compare le scoree enregistré dans la variable avec les autre score si il y en a et si le score suivant est supérieur alors on écrase le score dans la variable avec le nouveaux#}

                                                                            {% set score = game.score %}

                                                                        {% endif %}
                                                                        
                                                                        {% if loop.first %} {# si c'est la premiére itération #}

                                                                            {% set lastGameDate = game.dateGame %} {# on stock la date dans la variable#}

                                                                        {% elseif game.dateGame > lastGameDate %} 
                                                                        {# si ce n'est pas la première itération on compare la date enregistré dans la variable avec les autre date si il y en a et si la date suivante est supérieur alors on écrase la date dans la variable avec la nouvelle#}

                                                                            {% set lastGameDate = game.dateGame %}

                                                                        {% endif %}

                                                                    {% endif %}

                                                                {% endfor %}
                                    
                                                                {% if lastGameDate is not null %} {# si la variable a bien été set et donc qu'une partit existe #}
                                                            
                                                                    {% if score >= 80 %} {# condition si score est supérieur a 80% stock se message #}
                                                                        {% set message = "Quiz <span class='quiz-night'>" ~ quiz.title ~ "</span> validé : " ~ score ~ "% de bonnes réponses. Vous pouvez le rejouer pour améliorer votre score." %}
                                                                    {% else %} {# sinon on stock se message #}
                                                                        {% set message = "Vous n'avez pas validé le quiz <span class='quiz-night'>" ~ quiz.title ~ "</span> en obtenant " ~ score ~ "% de bonne réponse." %}
                                                                    {% endif %} {# fin {% if score >= 80 %} #}
                    
                                                                    {% set diffDays = date('now').diff(lastGameDate) %} {# on fait la différence de la date de la partie + 7 j par rapport a la date du jours #}
                                                                        
                                                                    {% if diffDays.days > 7 %} {# si le résultat est inférieur ou égal a 0  il peux rejouer le quiz et affiche le bon message #}
                                                                        <a class="add_quiz" href="{{path('new_quiz', {'idCategory': category.id})}}">Créer un Quiz</a>
                                                                        <p>{{ message|raw }}</p>
                                                                        {# lien pour jouer le quiz#}
                                                                        <a class="play" href="{{ path('app_play', {'id': quiz.id}) }}">Jouer</a>

                                                                    {% else %} {# sinon il doit attendre le nombre de jour restant#}
                                                                        <a class="add_quiz" href="{{path('new_quiz', {'idCategory': category.id})}}">Créer un Quiz</a>
                                                                        <p>{{ message|raw }}</p>
                                                                        {% set nbDay = lastGameDate|date_modify("+7 day").diff(date('now')) %}
                                                                        {# message avec nombre de jour restant avant de pouvoir rejouer#}
                                                                        <p>Vous pourrez rejouer ce quiz dans {{ nbDay.days }} jour(s)'</p>
                    
                                                                    {% endif %} {# fin {% if diffDays.days > 7 %}#}
                    
                                                                {% else %} {# si aucune partie enregistrer pour se quiz il peux le jouer #}
                                                                    {# lien vers la page pour jouer le quiz#}
                                                                    <a class="add_quiz" href="{{path('new_quiz', {'idCategory': category.id})}}">Créer un Quiz</a>
                                                                    {% set message = "Vous n'avez pas encore enregistré de partie sur le quiz : <span class='quiz-night'>" ~ quiz.title ~ ".</span>" %}
                                                                    <p>{{ message|raw }}</p>
                                                                    <a class="play" href="{{ path('app_play', {'id': quiz.id}) }}">Jouer</a>
                    
                                                                {% endif %} {# fin {% if lastGameDate is not null %} #}
                    
                                                            </div> {# fin <div class="info-play"></div>#}        
                    
                                                        {% else %} {# fin {% if app.user %} si c'est un visiteur  #}
                                                            <div class="info-play">
                                                                {% set hasGames = false %}
                                                                {% set gamesForCurrentQuiz = gamesForQuizzes[quiz.id] ?? [] %}
                                                            <ol>
                                                                {% for game in gamesForCurrentQuiz %}
                                                                    {% if game.quiz.id == quiz.id %}
                                                                        {% if loop.first %}
                                                                            <h4 class="h4_home">Les meilleurs scores pour le quiz </h4>
                                                                            <p class="p_home"><strong>{{ game.quiz.title }}</strong>:</p>
                                                                        {% endif %}
                                                                        <li class="three_score"> {{ game.score }} %</li>
                                                                        {% set hasGames = true %}
                                                                    {% endif %}
                                                                {% endfor %}
                                                            </ol>
                                                                {% if not hasGames %}
                                                                    <p class="p_home">Pas de scores enregistrés pour le quiz "<strong>{{ quiz.title }}</strong>". Lancez-vous!!</p>
                                                                    <p class="p_home">Devenez <br><strong>  Le champion !!  </strong></p>
                                                                {% else %}
                                                                    <p class="p_home"><strong>Relevez le défi</strong> et améliorez ces scores !</p>
                                                                {% endif %}
                                                                
                                                                <a class="link_register" href="{{ path('app_register') }}"><strong>Inscrivez-vous pour participer.</strong></a> 
                                                            </div>
                                                            <figure class="fig_card_category">

                                                                <img class="img_card_category" src="{{ asset('uploads/img/category/' ~ category.picture) }}" alt="{{category.label}}">
                                                                <figcaption class="fig_caption_category_card">{{ category.label}}</figcaption>

                                                            </figure>
                                                        
                                                            <h2>{{ quiz.title }}</h2>

                                                        {% endif %}

                                                    </div>{#fin <div class="swiper-slide"></div>#}

                                                {% endif %}
                                            {% endfor %}{# fin  {% for quiz in category.quizzes %}#}

                                        </div>{# fin <div class="swiper-wrapper"></div>#}

                                    </div>{# fin  <div class="swiper"></div>#}

                                </div> {#fin <div class="info"></div>#}

                            </div> {# fin <div class="box_quiz">   #} 
                        {% endif %}

                    {% endfor %}{# fin {% for category in allCategories %} #}

                </div>{# fin div class content#}

               <a id="scroll_to_top" href="#nav_category"><i class="fa-solid fa-arrow-turn-up fa-xl"></i></a>

            </section>{# fin section class slide#}

            
      
        <section class="article_home">
            <h2 class="h2_home">Tester vos connaisance</h2>
            <p class="p_home">Utiliser <strong>DEV QUIZ</strong> pour tester vos connaisance en <strong>HTML</strong>,<strong>CSS</strong>,<strong>PHP</strong>, <strong>JavaScripts</strong> et bien d'autre</p>
            <ol>

                {% for game  in allGames %}
                    <li class="list_score">{{game.userId.username }} <span class="span_score">{{ game.score }}</span></li>
                {% endfor %}
                    
            </ol>
        </section>

            <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
            <script src="{{ asset('js/swipper.js') }}"></script>
    
    
{% endblock %}
   
    