{% extends 'base.html.twig' %}

{% block title %}Ajouter une Session{% endblock %}

{% block body %}

<div class="container">
    {% if edit %}
    <h1>Modifier un  Quiz à la sous-catégorie: {{ quiz.title }}</h1>    
    {% else %}
    <h1>Ajouter un nouveau Quiz à la sous-catégorie: {{ category.label }}</h1> 
    {% endif %}
    
{{ form_start(formNewQuiz) }}
    {{ form_row(formNewQuiz.title) }}
    {{ form_row(formNewQuiz.level) }}
    
{{ form_end(formNewQuiz) }}
</div>
{% endblock %}