{% extends 'base.html.twig' %}

{% block title %}Ajouter une Session{% endblock %}

{% block body %}

<div class="container">
    {% if edit %}
    <h1>Modifier un  Quiz à la sous-catégorie: {{ quiz.title }}</h1>    
    {% else %}
    <h1>Ajouter un nouveau Quiz à la sous-catégorie: {{ quiz.category.label }}</h1> 
    {% endif %}
    
{{ form_start(formNewQuestionAnswer) }}
   
    
    <h2>Ajout des questions du quiz</h2>
    

    <div class="formNewQuestionAnswer-group row">

        <div class="col-formNewQuestionAnswer-label col-sm-2">&nbsp;</div>

        <div id="question-fields-list" class="col-sm-10 remove-collection-widget"
            data-prototype="{{ form_widget(formNewQuestionAnswer.questions.vars.prototype)|e }}"
            data-quiz="{{ quizId }}"
            data-widget-tags="{{ '<p></p>'|e }}"
            data-widget-counter="{{ formNewQuestionAnswer.questions|length }}"> 

{# *******************ajout ou modification des question au quiz ********************************************************************#}
             {% for questionField in formNewQuestionAnswer.questions %}
            <p>
                {{ dump(questionField) }}
                {{ form_errors(questionField) }}
                {{ form_widget(questionField, {'attr': {'class': 'borders'}}) }} 
           
{# *******************ajout ou modification des réponse au question ********************************************************************#}
                <h2>Ajout des réponses de la question</h2>
                {{ form_start(formNewAnswer) }}
                    <div class="col-formNewAnswer-label col-sm-2">&nbsp;</div>
                    <div id="answer-fields-list"  class="col-sm-10 remove-collection-answer-widget"
                        data-answers="{{ form_widget(questionField.answers.vars.prototype)|e }}"
                        data-question="{{ questionId }}"
                        data-widget-answers="{{ '<p></p>'|e }}"
                        data-widget-answers-counter="{{ questionField.answers|length }}">
                        {% for answerField in formNewAnswer.answers %}
                        
                            {{ form_errors(answers) }}    
                            {{ form_widget(answerField, {'attr': {'class': 'border'}})  }}    
                            
                            {# Empêche l'apparition d'une légende "questions", si la collection est vide (en cas de création d'une nouvelle session) #}
                            {% do questionField.answers.setRendered %}
                        {% endfor %}
                     </div>
                </div> 
            </p>  
        <div class="formNewAnswer-group row flex-action">
                <button type="button" class="add-another-collection-answer-widget button" data-list-answers-selector="#answer-fields-list">
                    Ajouter une réponse
                </button>
            </div>  
         {% endfor %}
        
        </div>
    </div>
    {{ form_end(formNewAnswer) }}
    <div class="formNewQuestionAnswer-group row flex-action">
        <button type="button" class="add-another-collection-widget button" data-list-selector="#question-fields-list">
            Ajouter une question
        </button>
    </div>

    {# Empêche l'apparition d'une légende "questions", si la collection est vide (en cas de création d'une nouvelle session) #}
    {% do formNewQuestionAnswer.questions.setRendered %}
   
       
   
    {{ form_end(formNewQuestionAnswer) }}
</div>
{% endblock %}