{% extends 'base.html.twig' %}

{% block title %}Jouer un quiz!{% endblock %}

{% block body %}
{# fichier json en hidden récupérer par le fichier quiz_play.js et traité 
    pour afficher les question et les réponse du quiz de façon dynamique  #}
<input hidden id="quiz" type="text" data-attribut="{{ quizJson }} ">

<h2 class="title_play_quiz">{{ quiz.title }}</h2>

    <article id="quiz-container-play"> 
        {# container qui affiche le nombre de question la difficulter la catégorie d'un quiz et le bouton pour jouer#}

        <h2 class="title_info_quiz"> {{ quiz.title }}</h2>

        <p class="difficulter">Difficulté : {{ quiz.level }} </p>

        <p class="category">Catégorie: {{ quiz.category.label }} </p>

        <p class="nb_question">Nombre de question :{{ quiz.questions|length }}</p>

        <a id="play" href="#">Jouer</a>

    </article>
  
        {{ form_start(formQuiz) }}
        {# conteneur pour le quiz#}
        <div id="quiz-container">
            {# indiquera le numéro de la question#}
            <section id="info_question">Question n°<strong id="number_question"></strong>/10</section>

            <section class="quiz-container">

                <h2 id="questions-sentence"></h2>{# pour afficher l'intituler de la question#}
                

                <div  id="answer-sentence"></div>{#v     contenir les bouton radio des réponses#}

                <input  id="valider" type="button" value="Valider"/>
                

            </div>   
                <article id="message"></article> {#contiendra le message a la fin du quiz#}
                {# div ou sera afficher le recapitulatif du quiz une fois terminer  #}
                <div id="recap-container"></div>{# contiendra le json du récapitulatif du quiz qui sera récupérer dans le controlleur pour traitement#}
                {# pour soumettre le résultat #}
                <input id="submit" type="submit">{#  #}
            </section>
        {{ form_end(formQuiz) }}
       
        <script src="{{ asset('js/quiz_play.js') }}"></script>   
    
    
{% endblock %}