{% extends 'base.html.twig' %}

{% block title %}Hello QuizController!{% endblock %}

{% block body %}
{% set index = 1 %}

<h1>Recap quiz</h1>


    
    <strong><p>Score Obtenue: {{ score }}% de bonnes réponses</p></strong>
    {% for recap in quizsRecap %}
        
      
    <strong>Question {{ index  }}: {{ recap.questionIntitulle }} </strong>  
        
        <ul>
            <strong><p>Réponses sélectionnées:</p></strong>
            {% if recap.answerIsright %}
                <strong class="success" >{{ recap.answerIntitulle }}</strong> 
            {% else %}
                <strong class="error" >{{ recap.answerIntitulle }}</strong> 
            {% endif %}
        <strong><p>Lien doc:</strong> <a target="blank" href="{{ recap.link }}">{{recap.link ? recap.link :  "Aucun lien " }} </a></p>
        </ul>

        {% set index = index + 1 %}
    {% endfor %}    
             
        
    


  
      
       
        
             
           
        
       
         
    
    
{% endblock %}