{% extends 'base.html.twig' %}

{% block title %}Détail d'un quiz et de ses question{% endblock %}

{% block body %}   


    <div id="quiz-detail-container">
        <h1 class="title">{{ quiz.category.label }}</h1>
        
        <article id="quiz-detail"> 
            <ol class="quiz-detail">
                <h2 class="title">{{ quiz.title }}</h2>
                <a class="btn btn-warning" href="{{path('edit_quiz', {'id': quiz.id})}}">Modifier un Quiz</a>
                {% for question in quiz.questions %}
                    <article class="box_question_reponse">
                        
                      
                       <li>{{ question.sentence }}</li>

                            <ol class="quiz-detail-reponse">
                                {% for reponse in question.answers %}
                            
                                    {% if question.id == reponse.question.id %}
                                    
                                        <li>{{ reponse.sentence }}</li>
                                    {% endif %}
                                    
                                {% endfor %}
                            </ol>
                        <a href="{{ path('app_unset_quiz',{'id' : question.id ,'idQuiz': quiz.id})}}">Retirer la question</a>
                    
                    </article>
                {% endfor %}
                    
            </ol>
        </article>
        <h3>Liste des questions non utilisées</h3>     
        <ul>
            {% for question in questionNotInQuiz %}
                {% if question.category == quiz.category %}
                    <li>{{ question }}<a class="add" href="{{ path('app_add_quiz',{'id' : question.id ,'idQuiz': quiz.id})}}"> Ajouter</a></li>
                {% endif %}
            {% endfor %}
           
        </ul>
    </div>

{% endblock %}
