{% extends 'base.html.twig' %}

{% block title %}Détail d'un quiz et de ses question{% endblock %}

{% block body %}   


    <div id="quiz-detail-container">
        <h2 class="title">{{ quiz.category.label }}</h2>
        
        <article id="quiz-detail"> 
            <ol class="quiz-detail">
                <h3 class="title">{{ quiz.title }}</h3>
                <a class="btn btn-warning" href="{{path('edit_quiz', {'id': quiz.id})}}">Modifier un Quiz</a>
                {% for question in quiz.questions %}
                    <article class="box_question_reponse">
                        
                      
                       <li>{{ question.sentence }}</li>

                            <ol class="quiz-detail-reponse">
                                {% for reponse in question.answers %}
                            
                                    {% if question.id == reponse.question.id %}
                                    
                                        <li>{{ reponse.sentence }}</li>
                                    {% endif %}
                                    
                                {% endfor %}
                            </ol>
                        <a href="{{ path('app_unset_quiz',{'id' : question.id ,'idQuiz': quiz.id})}}">Retirer la question</a>
                    
                    </article>
                {% endfor %}
                    
            </ol>
            
            <ul id="title_question_not_use">
                <h3 class="title_question_not_use">Liste des questions non utilisées</h3>     
                {% for question in questionNotInQuiz %}
                    {% if question.category == quiz.category %}
                        <li>{{ question }}</li><a class="add_not_use" href="{{ path('app_add_quiz',{'id' : question.id ,'idQuiz': quiz.id})}}"> Ajouter</a>
                    {% endif %}
                {% endfor %}
               
            </ul>
        </article>
    </div>

{% endblock %}
