{% extends 'base.html.twig' %}

{% block title %}Liste des themes!{% endblock %}

{% block body %}
<div class="box_theme">
    {{ include ('admin/panel_admin_nav.html.twig') }}
    <table class="admin-theme">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nom</th>
                <th>Nombre de Categorie</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
           
            {% for theme in themes %}
                <tr>
                    <td>{{ theme.id }}</td>
                    <td>{{ theme }}</td>
                    <td>{{ theme.categories|length }}</td>
                    <td>
                        <ul class="ul_action">
                            <li class="li_action">
                                <a class="btn btn-success" href="{{path('new_category',{'idTheme': theme.id})}}">Ajouter une nouvelle catégorie</a>
                            </li>
                            <li class="li_action">
                                <a class="btn btn-warning" href="{{path('edit_theme', {'id': theme.id})}}">Modifier un theme</a>
                            </li>
                            <li class="li_action">
                                <a class="btn btn-danger" href="{{path('delete_theme', {'id': theme.id})}}">Supprimer un theme</a> 
                            </li>
                        </ul>
                    </td>
                    
                    
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
