{% extends 'base.html.twig' %}

{% block title %}Modification de votre Profil{% endblock %}

{% block body %}

<div class="container">
  
        <h1>Modifier votre profil: </h1> 
    
        {{ form_start(formEditUser) }}
            {{ form_row(formEditUser.email) }}
            {{ form_row(formEditUser.username) }}
            
        
            <div class="swiper">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
                {# liste des choix des images pour le profil  #}
                {% for image in ['chat_profil.png', 'lion_profil.png', 'chat_astronaute_profil.png','dragon_profil.png', 'ecureil_profil.png', 'hiboux.png', 'panda_profil.png','tigre_profil.png'] %}

                    <div class="swiper-slide">

                        <input type="radio" name="formEditUser[selectedProfileImage]" value="{{ image }}" {% if formEditUser.vars.value.profileImage == image %}checked{% endif %}>

                        <img class="slide" src="{{ asset('avatar/' ~ image) }}" alt="Image profil {{ image }}">

                    </div>

                {% endfor %}
            </div>
            
        </div>
        {{ form_end(formEditUser) }} 
    
</div>
{% endblock %}