{% extends 'base.html.twig' %}

{% block title %}profile{% endblock %}
{# page de profil d'un uttilisateur seul lui meme peux y accèder #}
{% block body %}
{% set scoretotal = 0 %} {# variable déclarer pour le calcul du score total #}
{# pour le numéro du quiz #}
{% set nb = 1 %} 

    <div class="container-profil">
        <div class="topper">
            <h2>Profil Utilisateur</h2>
        </div> 

        <section id="section_profil">  
                <p><span class="profil-info">Pseudo :</span>{{ app.user.username }}</p>
            {# lien vers le formulaire de modification de profil(username, email, image) #}
            <a href="{{path('edit_profile', {'id': app.user.id})}}">Modifier profil</a>
            {# nombre de quiz creer pour cet utilisateur + bouton voir liste de tous ses quiz #}
        </section> {# fin section <section id="section_profil"> #}

        <div class="personal">
            <section class="box_mail">
                <h3 class="email">Email</h3>
                <p>{{ app.user.email }}</p>
                <input type="submit" value="Edit" />
            </section>
        </div>

        <div class="points"></div>
            {% for game in app.user.games %}
                {# calcul pour le score total  #}
                {% set scoretotal = scoretotal + game.score %}

            {% endfor %}
                {# affichage du score total  #}
            <h4 class="score">{{ scoretotal }}</h4>
            <p class="info_score">Score Total</p>
        </div>

        <div class="deal">
            <h3 class="best_score"><span class="profil-info">Mes 3 meilleurs scores :</span></h3>
            {% for bestGame in games %}

                <p><span class="profil-info">Quiz {{ nb }}:</span> {{ bestGame.quiz.title }} score: {{ bestGame.score }}</p>

                {% set nb = nb + 1 %} 

            {% endfor %}
        </div>

        <div class="recent">
            <div>
                <h4 class="recent_acti">Recent Activity</h4>

                <ul>
                    {% for game in app.user.games %}
                        <li class="game_quiz"> {{ game.quiz.title }} <span class="game_score"> {{ game.score }}</span></li>
                    {% endfor %}
                </ul>  

            </div>

        </div>

        <div class="bought">

            <div>
                <h4 class="create_quiz">Vos Quiz créer</h4>
                {# condition si l'utilisateur a créer un quiz ou non  #}
                    {% if not app.user.quizzes|length == 0  %}
                    
                    <ul >

                        {# boucle pour afficher les quiz de cet utilisateur #}
                        {% for quiz in app.user.quizzes %} 
                            {% if quiz.questions|length >= 10 %}
                                <li class="profil_quiz_info">{{ quiz.title }} <span> nombre de question: {{quiz.questions|length}}</span></li>
                            {% else %}
                                <li>
                                    <p>{{ quiz.title }}<a  href="{{path('new_question', {'idQuiz': quiz.id})}}">Modifier Quiz</a></p>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>

                {% else %}

                    {# message si aucun quiz créer  #}
                    <ul id="list-quiz">   
                        Vous n'avez pas créer de quiz pour le moment
                    </ul>

                {% endif %}
                <h4>Recent Purchases</h4>

                <ul>
                    
                    <li>Item 2 <span> 50pts</span></li>
                    <li>Item 3 <span> 120pts</span></li>
                    <li>Item 4 <span> 100pts</span></li>
                    <li>Item 5 <span> 50pts</span></li>
                </ul> 

            </div>
        </div>
    </div>   
     
{% endblock %}