{% extends 'base.html.twig' %}

{% block title %}profile{% endblock %}
{# page de profil d'un uttilisateur seul lui meme peux y accèder #}
{% block body %}
{% set scoretotal = 0 %} {# variable déclarer pour le calcul du score total #}
{# pour le numéro du quiz #}
{% set nb = 1 %} 

    <div class="container-profil">
        <div class="topper">
            <h2 class="title_profil">Profil Utilisateur</h2>
        </div> 
            <section class="edit_profil">
                <section class="section_profil">  
                    <h2 class="email">Pseudo</h2>
                    <p class="profil-info"><strong>{{ app.user.username|upper }}</strong></p>
                    {# nombre de quiz creer pour cet utilisateur + bouton voir liste de tous ses quiz #}
                </section> {# fin section <section id="section_profil"> #}

                <div class="personal">
                    <section class="box_mail">
                        <h2 class="email">Email:</h2>
                        <p class='email'><strong>{{ app.user.email }}</strong></p>
                    </section>
                </div>
                {# lien vers le formulaire de modification de profil(username, email, image) #}
                <a class="btn_edit_profil" href="{{path('edit_profile', {'id': app.user.id})}}">Modifier profil</a>
                <a class="btn_edit_profil" href="{{path('delete_profile', {'id': app.user.id})}}">Suprimer profil</a>
            </section>
        <div class="points">
            {% for game in app.user.games %}
            {% set scoretotal = scoretotal + game.score %}   
                    {# calcul pour le score total  #}
                    {% set scoretotal = scoretotal + game.score %}  
            {% endfor %}
                {# affichage du score total  #}
            <h4 class="score">{{ scoretotal }}</h4>
            <p class="info_score">Score Total</p>
        </div>

        <div class="deal">
            <h3 class="best_score">Mes 3 meilleurs scores :</h3>
            {% if games %}
                {% for bestGame in games %}
                    <li class="game_quiz"><span class="profil-info">{{ nb }} :</span> {{ bestGame.quiz.title }} score: {{ bestGame.score }}</li>
                    {% set nb = nb + 1 %} 
                    
                {% endfor %}
            {% else %}
                <p>Vous n'avez enregistré aucun score pour le moment</p>
            {% endif %}
        </div>

        <div class="recent">
            <div>
                <h3 class="recent_acti">Les 5 dernières parties</h3>

                <ul class="list_profil">
                    {% if gamesUser %}
                        {% for game in gamesUser %}
                            <li class="game_quiz"> {{ game.quiz.title }} <span class="game_score"> {{ game.score }}</span></li>
                        {% endfor %}
                    {% else %}  
                        <p>Vous n'avez enregistré aucun score pour le moment</p>  
                    {% endif %}
                </ul>  

            </div>

        </div>
        <div class="favorite">
            <h3 class="create_quiz"> Vos Quiz Favoris</h3>
            <ul>
                {% if app.user.favoritesQuizzes %}
                    {% for favoriteQuiz in app.user.favoritesQuizzes %}
                        <li class="game_quiz">{{favoriteQuiz}}</li>
                    {% endfor %}
                {% else %}
                    <p>Vous n'avez pas de quiz favoris pour le moment</p>
                {% endif %}
            </ul>
        </div>
        <div class="bought">

            <h3 class="create_quiz">Vos Quiz créer</h3>
            {# condition si l'utilisateur a créer un quiz ou non  #}
            {% if not app.user.quizzes|length == 0  %}
                
                {# boucle pour afficher les quiz de cet utilisateur #}
                {% for quiz in app.user.quizzes %} 
                    <section class="section_create">

                        <a href="{{path('show_quiz', {'id': quiz.id})}}">
                            <p class="profil_quiz_info"><strong>{{ quiz.title }}</strong> </p>
                        </a>
                        <button class="btn_edit_quiz" >
                            <a href="{{path('edit_quiz', {'id': quiz.id})}}">Modifier un Quiz</a>
                        </button>

                    </section> 
                {% endfor %}
               

            {% else %}

                {# message si aucun quiz créer  #}
                <ul id="list-quiz">   
                    Vous n'avez pas créer de quiz pour le moment
                </ul>

            {% endif %}
          
        </div>
    </div>   
     
{% endblock %}