{% extends 'base.html.twig' %}

{% block title %}profile{% endblock %}

{% block body %}
<section>
    <h1> Bienvenue {{ app.user.username }}</h1>
        <a href="{{path('edit_profile', {'id': app.user.id})}}">Modifier profil</a>
    {% if app.user.profileImage %}
        <img src="{{ asset('avatar/' ~ app.user.profileImage) }}" alt="Image de profil de {{ app.user.username }}">
    {% else %}
        <p>Aucune image de profil disponible.</p>
    {% endif %}
    <p>nb quiz creer {{ app.user.quizzes|length }}</p>
    <p>nb topic creer {{ app.user.topics|length}}</p>
    <p>nb reponse {{ app.user.posts|length }} </p>
    <p>nb game jouer: {{ app.user.games|length}}</p>
</section>
{% endblock %}